.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black !important;
  font-weight: bold;
  text-shadow: 0 0 0.25px currentColor;
  // font-size: calc(8px + 0.7vmin);
}
.ant-tabs-ink-bar {
  position: absolute;
  background: #ff7697 !important;
  pointer-events: none;
}

.ant-tooltip-inner {
  min-width: 30px;
  min-height: 32px;
  padding: 12px;
  color: white !important;
  text-align: left;
  text-decoration: none;
  word-wrap: break-word;
  background-color: #ff7697 !important;
  border-radius: 10px !important;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
}

.ant-tooltip-arrow-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 5px;
  height: 5px;
  margin: auto;
  background-color: #ff7697 !important;
  content: "";
  pointer-events: auto;
}
