.hide-scrollbar {
  overflow: auto;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}
.white {
  color: white;
}
.black {
  color: black;
}
.gray {
  color: #828282;
}
.pink {
  color: #f9d8d3;
}
.primary {
  color: #302856;
}
.secondary {
  color: #ff7697;
}

.bull {
  color: #0fcb80;
}

.bear {
  color: #f6465d;
}

.brown {
  color: #75191c;
}
.light-brown {
  color: #c46f72;
}
.bold {
  font-weight: bold;
}
.small {
  font-size: calc(7px + 0.6vmin);
}

input {
  border: none;
  outline: none;
}

input:focus {
  border: none;
}

.pointer {
  cursor: pointer;
}
.pointer:hover {
  // transform: scale(1.01);
}

.box-gray-inner {
  padding: 10px 20px 9px;

  /* Gray 6 */

  background: #f2f2f2;
  /* Gray inner shadow */

  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.box-gray {
  background: #e0e0e0;
  border-radius: 10px;
  padding: 7px 20px;
}

.box-gray-border {
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
}

.box-white-outer {
  background: #ffffff;
  /* Main shadow */

  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  padding: 20px;
  overflow-y: hidden;
}

.box-pink-inner {
  background: #f9d8d3;
  /* Warm inner shadow */

  box-shadow: inset 1px 1px 4px rgba(196, 111, 114, 0.5);
  border-radius: 10px;
  width: 100%;
}

.box-search {
  padding: 8px 8px 8px 15px;

  /* Gray 5 */

  background: #e0e0e0;
  /* Gray inner shadow */

  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
  scrollbar-width: none;
}

.no-wrap {
  white-space: nowrap;
  overflow: scroll;
  scrollbar-width: 2;
}

.input-search {
  background-color: transparent;
  width: 100%;
}

.dropdown {
  background: #ffffff;
  /* Gray inner shadow */

  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 8px 8px 8px 15px;
  overflow: hidden;
}

.utils-input {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */

  text-align: center;

  /* Purple */

  color: #302856;
  width: 100%;
  background-color: transparent;
  border: none;
  margin-top: 12px;
  border: 1px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
}

.utils-input:focus {
  outline: none;
  // border-color: #75191c;
  border: 1px solid #f7c0b8;
  border-radius: 10px;
}

.tag-pending {
  padding: 4px 8px;

  /* Light Pink */

  background: #f9d8d3;
  color: #75191c;
  border-radius: 10px;
}
.tag-excute {
  padding: 4px 8px;

  /* Light Pink */

  background: #54c71e;
  color: white;
  border-radius: 10px;
}

.background-primary {
  /* Pink Gradient */

  background: linear-gradient(90deg, #ef476f 0%, #ff7697 100%);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), inset -0.5px -0.5px 1px #ea4a70,
    inset 0.5px 0.5px 1px #f9d8d3;
  border-radius: 10px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.2s ease-in-out;
}

.background-primary:hover {
  background: linear-gradient(90deg, #f82e5d 0%, #ec5a7c 100%);
}

.button {
  /* Pink Gradient */
  background: linear-gradient(90deg, #ef476f 0%, #ff7697 100%);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), inset -0.5px -0.5px 1px #ea4a70,
    inset 0.5px 0.5px 1px #f9d8d3;
  border-radius: 10px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  white-space: nowrap;
}

.button:hover {
  // transform: scale(1.05);
  opacity: 0.7;
  // background: linear-gradient(90deg, #f82e5d 0%, #ec5a7c 100%);
}

.button-outer {
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  border: 1px solid #ff7697;
  color: #ff7697;
  border-radius: 10px;
  background-color: white;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.button-outer:hover {
  // transform: scale(1.1);
  opacity: 0.7;
}

.fit {
  width: 100%;
  width: 100%;
}

.fit-width {
  width: 100%;
}

.fit-height {
  height: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@HEADER_HEIGHT: 80px;

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#swap-container {
  width: 100vw;
  min-height: 100vh;
  background-image: url("assets/images/background-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#swap-content {
  min-height: calc(100vh - @HEADER_HEIGHT);
}

// antd
.ant-layout-sider,
.ant-layout {
  background-color: transparent !important;
}
.ant-modal-content {
  border-radius: 20px;
  padding: 0px;
  background-color: #f2f2f2;
}

#home-container {
  width: 100%;
  // background-image: url("assets/images/background-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
}
