.white {
  color: white;
}
.black {
  color: black;
}
.gray {
  color: #828282;
}
.pink {
  color: #f9d8d3;
}
.primary {
  color: #302856;
}
.secondary {
  color: #ff7697;
}

.bull {
  color: #0fcb80;
}

.bear {
  color: #f6465d;
}

.brown {
  color: #75191c;
}
.bold {
  font-weight: bold;
}
.small {
  font-size: calc(7px + 0.6vmin);
}

input {
  border: none;
  outline: none;
}

input:focus {
  border: none;
}

.pointer {
  cursor: pointer;
}
.pointer:hover {
  // transform: scale(1.01);
}

.box-gray-inner {
  padding: 10px 20px 9px;

  /* Gray 6 */

  background: #f2f2f2;
  /* Gray inner shadow */

  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.box-gray {
  background: #e0e0e0;
  border-radius: 10px;
  padding: 7px 20px;
}

.box-gray-border {
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
}

.box-white-outer {
  background: #ffffff;
  /* Main shadow */

  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  padding: 20px;
  overflow-y: hidden;
}

.box-pink-inner {
  background: #f9d8d3;
  /* Warm inner shadow */

  box-shadow: inset 1px 1px 4px rgba(196, 111, 114, 0.5);
  border-radius: 10px;
  width: 100%;
}

.box-search {
  padding: 8px 8px 8px 15px;

  /* Gray 5 */

  background: #e0e0e0;
  /* Gray inner shadow */

  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.no-wrap {
  white-space: nowrap;
  overflow: scroll;
  scrollbar-width: 2;
}

.input-search {
  background-color: transparent;
  width: 100%;
}

.dropdown {
  background: #ffffff;
  /* Gray inner shadow */

  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 8px 8px 8px 15px;
}

.utils-input {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */

  text-align: center;

  /* Purple */

  color: #302856;
  width: 100%;
  background-color: transparent;
  border: none;
  margin-top: 12px;
  border: 1px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
}

.utils-input:focus {
  outline: none;
  // border-color: #75191c;
  border: 1px solid #f7c0b8;
  border-radius: 10px;
}
